#cyoLeftColumn {
  float: left;
  position: relative;
}

#cyoSample {
  background-repeat:no-repeat;
  background-position:center;
  height: 335px;  /* Needs to mactch image height, or background bleeds through at bottom */
}

/* This div is hidden until user selects Nuk brand */
#binkiesNuk {
    display: none;
}

#cyoGuidelines {
    width: 460px;
    font-size: 10pt;
}

#cyoGuidelines ul {
    margin-left: 20px;
}

#cyoDefaultProofMessage {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#cyoRecentDesigns {
    width: 460px;
    font-size: 10pt;
    margin-top: 15px;
}

#cyoRecentDesigns img{
    margin: 1px;
}

#cyoRecentDesigns img:hover {
    cursor: pointer;
    border: solid 1px blue;
    margin: 0;
}

.shields .selected{
    border: 1px solid blue;
}

#cyoOverlayText1, #cyoOverlayText2 {
  height: auto;
  width: auto;
  width: auto;
  height: auto;
  overflow: hidden;
  position: absolute;
  padding: 5px;
  font-size: 40px;
}

#cyoOverlayText1:hover, #cyoOverlayText2:hover,
#cyoOverlayStockImage:hover {
  border: 1px dashed #999;
  cursor: move;
}

.selected-overlay {
  border: 2px dashed #F00 !important;
}

#cyoOverlayStockImage {
    z-index: 20;
    border: 0;
    top: 59px;
    left: 107px;
    width: 272px;
    height: 222px;
    overflow: hidden;
    position: absolute;
    cursor: move;
    border: 5px;
}

#cyoOverlayText1 {
  top: 194px;
  left: 200px;
  z-index: 30;
}

#cyoOverlayText2 {
  top: 224px;
  left: 200px;
  z-index: 40;
}


#cyoCustomizer {
  float: right;
  width: 40%;
  margin-right: 30px;
  font-size: 10pt;
}

#cyoLaunchButtonContainer .cyoButtonContainer, #cyoModalText .cyoButtonContainer {
    margin-top: 10px;
    display: block;
}
#cyoLaunchButtonContainer .cyoButtonContainer button {
    width: 150px;
}

#cyoLaunchButtonContainer .cyoButtonContainer .ui-icon-closethick {
    cursor: pointer;
}

#cyoUploadedImageDiv{
    cursor: pointer;
}

#cyoUploadedImageDiv label {
    margin-bottom: 10px;
}
#cyoUploadedImageThumbnail{
    margin-bottom: 20px;
}

#cyoBackgroundColorControl{
    width: 80%;
}

.cyoDisplaySetting{
    width: 150px;
    border: 1px solid black;
    padding: 3px;
    display: inline-block;
    margin-left: 15px;
}

.hidden{
    display: none;
}

.inline-block {
    display: inline-block;
}

#cyoModalText label {
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: left;
}

#cyoModalText .control {
    margin-left: 120px;
    width: 200px;
}

#cyoModalText input[type=text] {
    width: 200px;
}

.cyo-h2 {
    margin-top: 20px; 
}
.chooser img {
    cursor: pointer;
    margin: 4px;
}

#cyoUploader li {
    list-style-type: none;
}

#cyoFontMenu {
    border: 1px solid #999;
    width: 200px;
    height: 120px;
    overflow-y: scroll;
}

#cyoFontMenu li {
    margin: 2px;
    list-style-type: none;
}

#cyoFontMenu li:hover {
    cursor: pointer;
}

#cyoFontMenu li.selected {
    background-color: #ddd;
}
