#cyoSample {
  float: left;
  position: relative;
  background-repeat:no-repeat;
  background-position:center;
  zoom: 60%;
}

#cyoOverlay {
  height: auto;
  width: auto;
  max-width: 280px;
  max-height: 130px;
  position: absolute;
  top: 194px;
  left: 200px;
  padding: 20px;
  cursor: pointer;
  font-size: 32px;
}

#cyoOverlay:hover {
  border: 1px dashed #999;
}

#cyoCustomizer {
  float: right;
  width: 50%;
  margin-right: 30px;
}

#cyoLaunchButtonContainer button{
    display: block;
    margin-top: 10px;
    width: 150px;
}

.chooser img {
    cursor: pointer;
}

.design-slider {
    height: 180px;
}

.scroll-y {
    overflow-y: scroll;
}

.design-slider li, .font-selector ul li {
    list-style-type: none;
}


#cyoFontMenu {
    border: 1px solid #999;
    width: 200px;
    height: 16px;
    overflow: hidden;
    transition: height 0.1s;
}
#cyoFontMenu:hover {
    height: 100px;
    overflow-y: scroll;
}

#cyoFontMenu:hover li {
    display:block;
}

#cyoFontMenu li {
    display: none;
    margin: 2px;
    list-style-type: none;
}

#cyoFontMenu li:hover {
    cursor: pointer;
}

#cyoFontMenu li.selected {
    display: block;
}
