@model MenuModel
@using Nop.Web.Models.Common;
<ul class="top-menu">
    <li><a href="~/login">Wholesale</a></li>
    <li><a href="~/about/index/">About</a></li>
    <li><a href="~/common/storelocator/">Find A Store</a></li>
    <li><a href="~/customize/">Customize</a></li>
    <li>
        <a href="~/Home/ProductCats">Shop</a>
        <ul class="subNav">
            <li><a href="~/pack-ems">Pack'Ems</a></li>
            <li><a href="~/splatmat">SplatMat</a></li>
            <li><a href="~/pacipouch">PaciPouch</a></li>
            <li><a href="~/sippi-grips">SippiGrip</a></li>
            <li><a href="~/pacigrip">PaciGrip</a></li>
            <li><a href="~/squeeze-ems">Squeez'Ems</a></li>
        </ul>
    </li>
</ul>


