@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ColumnsTwo_B.cshtml";
}

<div>
    <div>
        No doubt, the question we get asked the most is “What is a BooginHead?” Below is what our Founder, CEO & Chief BooginHead Sari Crevin has to say:

        “BooginHead is a term we came up with in our family when someone does something they shouldn’t, but they do it regardless and it makes you laugh. For example, when my then 1-year-old son Jake was throwing his sippy cup to the floor over and over again just to watch me pick it up, he was being such a BooginHead!”

        At BooginHead, we are committed to bringing products to parents to help solve the BooginHead factor and make life a little easier!
        We want to hear about your Lil’ BooginHead! Connect with us on Facebook and Twitter and share your stories, pictures, comments and questions!
    </div>
    <br />
    <h2>What is a Booginism?</h2>
    <div>
        <p>A Booginism is something funny you or your Lil’ BooginHead says that makes you laugh. Share your Booginisms with us on Facebook every Wednesday and enjoy the funny things we or our Lil’ BooginHeads say!</p>
        <img src="~/themes/bh/Content/images/client/misc/awards.png" alt="Booginhead Awards" />
    </div>
</div>
