@{
    ViewBag.Title = "Meet";
    Layout = "~/Views/Shared/_ColumnsTwo_B.cshtml";
}

<div class="indBio">
    <img class="picBio" src="~/themes/bh/Content/images/client/about/sarinew.jpg" alt="" />
    <p><h2>Sari Crevin</h2></p>
    <p><h2>CEO & Chief BooginHead</h2></p>
    <p><span>Most afraid of?</span>Being average – I would rather fail miserably and know that something was not meant for me than to go through life being average.</p>
    <p><span>Favorite Movie?</span>Good Will Hunting – could watch it a million times.</p>
    <p><span>Best BooginHead moment?</span>The very first time I saw one of our products on a complete stranger – I will never forget that moment. I may have overwhelmed her with my enthusiasm and most likely scared her away.</p>
    <p><span>Favorite Place to Travel?</span>Well we live in Seattle – so anywhere that actually has the ability to show me what the sun looks like works for me.</p>
    <p><span>What I’m listening to on my iPod?</span>Bon Iver and Adele and a random mix of music that I am too embarrassed to admit in public.</p>
    <p><span>First memory?</span>I believe I was about 2 and in my old house in New York. I remember waking up in the middle of the night, standing up in my crib and looking across the hall at my parents room. Taking a pause and then started screaming for my mom and seeing her run down the hall. I was a total BooginHead from the beginning.</p>
    <p><span>Favorite Paci quote?</span>Mute Button – if you know me at all that is not a shocker.</p>
    <p><span>What is a BooginHead?</span>BooginHead is a term we used in our house to describe when someone is doing something they shouldn’t , but they do it regardless so it makes you laugh. My son throwing his cup to the floor just to watch me pick it up – he was being a BooginHead. It was one of the first words my kids learned along with the word No.</p>
    <p><span>One thing you can’t live without?</span>You mean besides my kids? Exercise. I am totally useless unless I have that time to work out and focus my brain.</p>
    <p><span>Most afraid of?</span>I am an entrepreneur at heart, it is in my blood. So when I came up with the idea for the SippiGrip it was more a question of “why not?”</p>
</div>
<div class="indBio">
    <img class="picBio" src="~/themes/bh/Content/images/client/about/tana.jpg" alt="" />
    <p><h2>Tana Sinnott</h2></p>
    <p><h2>Operations and Global Accounts</h2></p>
    <p><span>Most afraid of?</span>Being average – I would rather fail miserably and know that something was not meant for me than to go through life being average.</p>
    <p><span>Favorite Movie?</span>Good Will Hunting – could watch it a million times.</p>
    <p><span>Best BooginHead moment?</span>The very first time I saw one of our products on a complete stranger – I will never forget that moment. I may have overwhelmed her with my enthusiasm and most likely scared her away.</p>
    <p><span>Favorite Place to Travel?</span>Well we live in Seattle – so anywhere that actually has the ability to show me what the sun looks like works for me.</p>
    <p><span>What I’m listening to on my iPod?</span>Bon Iver and Adele and a random mix of music that I am too embarrassed to admit in public.</p>
    <p><span>First memory?</span>I believe I was about 2 and in my old house in New York. I remember waking up in the middle of the night, standing up in my crib and looking across the hall at my parents room. Taking a pause and then started screaming for my mom and seeing her run down the hall. I was a total BooginHead from the beginning.</p>
    <p><span>Favorite Paci quote?</span>Mute Button – if you know me at all that is not a shocker.</p>
    <p><span>What is a BooginHead?</span>BooginHead is a term we used in our house to describe when someone is doing something they shouldn’t , but they do it regardless so it makes you laugh. My son throwing his cup to the floor just to watch me pick it up – he was being a BooginHead. It was one of the first words my kids learned along with the word No.</p>
    <p><span>One thing you can’t live without?</span>You mean besides my kids? Exercise. I am totally useless unless I have that time to work out and focus my brain.</p>
    <p><span>Most afraid of?</span>I am an entrepreneur at heart, it is in my blood. So when I came up with the idea for the SippiGrip it was more a question of “why not?”</p>
</div>
<div class="indBio">
    <img class="picBio" src="~/themes/bh/Content/images/client/about/ali.jpg" alt="" />
    <p><h2>Ali Stillwell</h2></p>
    <p><h2>Marketing/PR Manager</h2></p>
    <p><span>Most afraid of?</span>Being average – I would rather fail miserably and know that something was not meant for me than to go through life being average.</p>
    <p><span>Favorite Movie?</span>Good Will Hunting – could watch it a million times.</p>
    <p><span>Best BooginHead moment?</span>The very first time I saw one of our products on a complete stranger – I will never forget that moment. I may have overwhelmed her with my enthusiasm and most likely scared her away.</p>
    <p><span>Favorite Place to Travel?</span>Well we live in Seattle – so anywhere that actually has the ability to show me what the sun looks like works for me.</p>
    <p><span>What I’m listening to on my iPod?</span>Bon Iver and Adele and a random mix of music that I am too embarrassed to admit in public.</p>
    <p><span>First memory?</span>I believe I was about 2 and in my old house in New York. I remember waking up in the middle of the night, standing up in my crib and looking across the hall at my parents room. Taking a pause and then started screaming for my mom and seeing her run down the hall. I was a total BooginHead from the beginning.</p>
    <p><span>Favorite Paci quote?</span>Mute Button – if you know me at all that is not a shocker.</p>
    <p><span>What is a BooginHead?</span>BooginHead is a term we used in our house to describe when someone is doing something they shouldn’t , but they do it regardless so it makes you laugh. My son throwing his cup to the floor just to watch me pick it up – he was being a BooginHead. It was one of the first words my kids learned along with the word No.</p>
    <p><span>One thing you can’t live without?</span>You mean besides my kids? Exercise. I am totally useless unless I have that time to work out and focus my brain.</p>
    <p><span>Most afraid of?</span>I am an entrepreneur at heart, it is in my blood. So when I came up with the idea for the SippiGrip it was more a question of “why not?”</p>
</div>
<div class="indBio">
    <img class="picBio" src="~/themes/bh/Content/images/client/about/karen.jpg" alt="" />
    <p><h2>Karen Mooney</h2></p>
    <p><h2>CFO</h2></p>
    <p><span>Most afraid of?</span>Being average – I would rather fail miserably and know that something was not meant for me than to go through life being average.</p>
    <p><span>Favorite Movie?</span>Good Will Hunting – could watch it a million times.</p>
    <p><span>Best BooginHead moment?</span>The very first time I saw one of our products on a complete stranger – I will never forget that moment. I may have overwhelmed her with my enthusiasm and most likely scared her away.</p>
    <p><span>Favorite Place to Travel?</span>Well we live in Seattle – so anywhere that actually has the ability to show me what the sun looks like works for me.</p>
    <p><span>What I’m listening to on my iPod?</span>Bon Iver and Adele and a random mix of music that I am too embarrassed to admit in public.</p>
    <p><span>First memory?</span>I believe I was about 2 and in my old house in New York. I remember waking up in the middle of the night, standing up in my crib and looking across the hall at my parents room. Taking a pause and then started screaming for my mom and seeing her run down the hall. I was a total BooginHead from the beginning.</p>
    <p><span>Favorite Paci quote?</span>Mute Button – if you know me at all that is not a shocker.</p>
    <p><span>What is a BooginHead?</span>BooginHead is a term we used in our house to describe when someone is doing something they shouldn’t , but they do it regardless so it makes you laugh. My son throwing his cup to the floor just to watch me pick it up – he was being a BooginHead. It was one of the first words my kids learned along with the word No.</p>
    <p><span>One thing you can’t live without?</span>You mean besides my kids? Exercise. I am totally useless unless I have that time to work out and focus my brain.</p>
    <p><span>Most afraid of?</span>I am an entrepreneur at heart, it is in my blood. So when I came up with the idea for the SippiGrip it was more a question of “why not?”</p>
</div>
<div class="indBio">
    <img class="picBio" src="~/themes/bh/Content/images/client/about/Elicia.jpg" alt="" />
    <p><h2>Elicia Kniffin</h2></p>
    <p><h2>Graphic Designer</h2></p>
    <p><span>Most afraid of?</span>Being average – I would rather fail miserably and know that something was not meant for me than to go through life being average.</p>
    <p><span>Favorite Movie?</span>Good Will Hunting – could watch it a million times.</p>
    <p><span>Best BooginHead moment?</span>The very first time I saw one of our products on a complete stranger – I will never forget that moment. I may have overwhelmed her with my enthusiasm and most likely scared her away.</p>
    <p><span>Favorite Place to Travel?</span>Well we live in Seattle – so anywhere that actually has the ability to show me what the sun looks like works for me.</p>
    <p><span>What I’m listening to on my iPod?</span>Bon Iver and Adele and a random mix of music that I am too embarrassed to admit in public.</p>
    <p><span>First memory?</span>I believe I was about 2 and in my old house in New York. I remember waking up in the middle of the night, standing up in my crib and looking across the hall at my parents room. Taking a pause and then started screaming for my mom and seeing her run down the hall. I was a total BooginHead from the beginning.</p>
    <p><span>Favorite Paci quote?</span>Mute Button – if you know me at all that is not a shocker.</p>
    <p><span>What is a BooginHead?</span>BooginHead is a term we used in our house to describe when someone is doing something they shouldn’t , but they do it regardless so it makes you laugh. My son throwing his cup to the floor just to watch me pick it up – he was being a BooginHead. It was one of the first words my kids learned along with the word No.</p>
    <p><span>One thing you can’t live without?</span>You mean besides my kids? Exercise. I am totally useless unless I have that time to work out and focus my brain.</p>
    <p><span>Most afraid of?</span>I am an entrepreneur at heart, it is in my blood. So when I came up with the idea for the SippiGrip it was more a question of “why not?”</p>
</div>
<div class="indBio">
    <img class="picBio" src="~/themes/bh/Content/images/client/about/Michele.jpg" alt="" />
    <p><h2>Michele Kohorn</h2></p>
    <p><h2>Account Manager</h2></p>
    <p><span>Most afraid of?</span>Being average – I would rather fail miserably and know that something was not meant for me than to go through life being average.</p>
    <p><span>Favorite Movie?</span>Good Will Hunting – could watch it a million times.</p>
    <p><span>Best BooginHead moment?</span>The very first time I saw one of our products on a complete stranger – I will never forget that moment. I may have overwhelmed her with my enthusiasm and most likely scared her away.</p>
    <p><span>Favorite Place to Travel?</span>Well we live in Seattle – so anywhere that actually has the ability to show me what the sun looks like works for me.</p>
    <p><span>What I’m listening to on my iPod?</span>Bon Iver and Adele and a random mix of music that I am too embarrassed to admit in public.</p>
    <p><span>First memory?</span>I believe I was about 2 and in my old house in New York. I remember waking up in the middle of the night, standing up in my crib and looking across the hall at my parents room. Taking a pause and then started screaming for my mom and seeing her run down the hall. I was a total BooginHead from the beginning.</p>
    <p><span>Favorite Paci quote?</span>Mute Button – if you know me at all that is not a shocker.</p>
    <p><span>What is a BooginHead?</span>BooginHead is a term we used in our house to describe when someone is doing something they shouldn’t , but they do it regardless so it makes you laugh. My son throwing his cup to the floor just to watch me pick it up – he was being a BooginHead. It was one of the first words my kids learned along with the word No.</p>
    <p><span>One thing you can’t live without?</span>You mean besides my kids? Exercise. I am totally useless unless I have that time to work out and focus my brain.</p>
    <p><span>Most afraid of?</span>I am an entrepreneur at heart, it is in my blood. So when I came up with the idea for the SippiGrip it was more a question of “why not?”</p>
</div>
