@{
    ViewBag.Title = "Praise";
    Layout = "~/Views/Shared/_ColumnsTwo_B.cshtml";
}

<div class="bhPraise">
    <p>
        “BooginHead has wonderful customer service! Everyone I have spoken with has been so friendly and very knowledgeable about all their products.”
    </p>
    <br />
    <p>
        Squeez’Ems: “This product is awesome if you’re tired of buying single use squeeze yogurts or fruit sauces. My son loves the squeezable yogurts, but they are so full of sugar that now I make my own version with Greek yogurt and different fruits and put them in Squeeze Ems for everyday use. He just grabs them and goes. It’s a win win for everyone!!”
    </p>
    <br />
    <p>
        SippiGrip: “Looks cute and does the job; I use it to attach sippy cups to the stroller or restaurant chairs, sometimes even at home. The part that wraps around the cup has a grippy material that keeps it attached tightly to any shaped sippy cup!!”
    </p>
    <br />
    <p>
        PaciGrip: “BooginHead makes the best grips. They clasp well, are sturdy, and look great! I have used them for both my children and LOVE them!”
    </p>
</div>
