@{
    ViewBag.Title = "ProductCats";
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

@*@Html.Action("HomepageCategories", "Catalog")*@

<div class="catPage">
    <span class="topProducts">
        @*<a id="pic1"></a>*@
        <a href="~/squeeze-ems/"><img id="pic1" src="~/Themes/BH/Content/images/client/products/Product_SqueezEms.png" alt="Booginhead Squeeze 'Ems" /></a>
        <a href="~/pacigrip/"><img id="pic2" src="~/Themes/BH/Content/images/client/products/Product_PaciGrip2.png" alt="Booginhead PaciGrip" /></a>
        <a href="~/sippi-grips/"><img id="pic3" src="~/Themes/BH/Content/images/client/products/Product_SippiGrip.png" alt="Booginhead SlippiGrip" /></a>
        <a href="~/customize/"><img id="pic4" src="~/Themes/BH/Content/images/client/products/Product_CreateYourOwn.png" alt="Booginhead Create Your Own" /></a>
    </span>
    <span class="imgChange">
        <a><img src="~/Themes/BH/Content/images/client/products/Product_Specials2_Large.png" alt="" /></a>
    </span>
    <span class="bottomProducts">
        <a href="~/specials/"><img id="pic5" src="~/Themes/BH/Content/images/client/products/Product_Specials.png" alt="Booginhead Specials" /></a>
        <a href="~/pacipouch/"><img id="pic6" src="~/Themes/BH/Content/images/client/products/Product_PaciPouch.png" alt="Booginhead PaciPouch" /></a>
        <a href="~/splatmat/"><img id="pic7" src="~/Themes/BH/Content/images/client/products/Product_SplatMat.png" alt="Booginhead Splat Mat" /></a>
        <a href="~/pack-ems/"><img id="pic8" src="~/Themes/BH/Content/images/client/products/Product_PackEms.png" alt="Booginhead Pack 'Ems" /></a>
    </span>
</div>

